body {
    color: white;
    font-family: $font-family;
    margin: 0;
}

html,
body,
.full-height-viewport {
    height: 100vh;
}

#root {
    height: 100%;
}

code {
    font-family:
        source-code-pro,
        Menlo,
        Monaco,
        Consolas,
        'Courier New',
        monospace;
}

.container {
    background-color: white;
    margin: 0 auto;
    max-width: 1132px;
    background-image: url('../../images/StripeBackground.png');
}
